.background-color-1 {
    background-color: rgb(43, 43, 43);
}

.bordered {
    position: fixed;
    top: 0;
    left: 0;
    border: 1em solid rgb(43, 43, 43);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}