.preloader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    z-index: 9999;
}

.preloader img {
    width: 45px;
    height: 45px;
    mix-blend-mode: darken;
}