.preloader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9999;
}

.preloader img {
    width: 60px;
    height: 60px;
}