/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */


/* ::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
} */


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #797878;
}