html,
body,
#wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    /* for Microsoft Edge */
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: white;
}

#videoPlayer_viewAngle {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 50px;
    height: 50px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 999
}

#videoPlayer_viewAngle img {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

#videoPlayer_viewAngle-over {
    opacity: 0.5;
}

#videoPlayer_viewArrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    pointer-events: none;
    padding: 1em;
}

#videoPlayer_viewArrows>div {
    pointer-events: auto;
    cursor: default;
    width: 50px;
    position: relative;
}

#subtitlesIcon {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 35px;
    height: 35px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 999;
    opacity: 50%;
}

#subtitlesContainer {
    position: absolute;
    left: 10vw;
    right: 10vw;
    bottom: 0;
    height: 150px;
    z-index: 2;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subtitlesContainer p {
    -webkit-text-stroke: 0.45px black;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    font-size: 3vw;
    z-index: 99;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 700;
    /* letter-spacing: 1px; */
    word-spacing: 1px;
    line-height: 130%;
    text-align: center;
}

.absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

.gradient {
    background: linear-gradient(0deg, rgba(24, 24, 24, 0.9) 0%, rgba(24, 24, 24, 0) 100%);
}

.title {
    font-size: 1.4em;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.2em;
    /* letter-spacing: 1px; */
}

.location {
    font-size: 0.7em;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 500;
    margin: 0;
    margin-bottom: 1em;
    /* letter-spacing: 1px; */
}

.description {
    /* font-size: 13px; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    margin-bottom: 0.2em;
    letter-spacing: 1px;
    line-height: 150%;
    font-weight: 300;
    font-size: 0.8em;
}

#icon-360 {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 50px;
    height: 50px;
    mix-blend-mode: lighten;
    z-index: 999
}

#icon-360-big {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    mix-blend-mode: lighten;
    z-index: 99
}

#videoPlayer-SplashScreen {
    z-index: 1000;
    /* font-family: Roboto; */
}


/* width */

@media (max-height: 300px),
(max-width: 400px) {
    .title {
        font-size: 20px;
    }
    .description {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    #subtitlesContainer p {
        font-size: 16px;
    }
}

@media screen and (min-width: 800px) {
    #subtitlesContainer p {
        font-size: 28px;
    }
}

@media (max-width: 600px) {}